<div class="top-margin">

<h2> Reservation List </h2>

<table class="table table-striped" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Boat</th>
        <th>Created By</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of reservations">
        <td>{{r.reservationId}}</td>
        <td>{{r.boat}}</td>
        <td>{{r.userId}}</td>
        <td>{{r.startDateTime}}</td>
        <td>{{r.endDateTime}}</td>
    </tr>
    </tbody>
</table>
<button class="btn btn-lg btn-info" routerLink="/makeReservations">Reserve a Boat</button>
</div>