<div class="top-margin">

  <div class="col-md-6 offset-md-3">
    <div class="form-group">
      <label for="startDate">Start Date: </label>
      <input [(ngModel)]="startDateT" placeholder="Choose a start date">
    </div>

    <div class="form-group">
      <label for="endDate">End Date: </label>
      <input [(ngModel)]="endDateT" placeholder="Choose an end date">
    </div>

    <div class="form-group">
      <label for="boat">Boat: </label>
      <select id="boat" [(ngModel)]="selectedBoat" class="control">
        <option *ngFor="let boat of boats" [value]="boat.boatId"> {{boat.boatName}} </option>
      </select>
    </div>

    <button type="submit" class="btn btn-info btn-lg" (click)="createReservation()">Create</button>

  </div>
</div>